
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxK.woff2");
}

* {

  background: none repeat scroll 0 0 transparent;
  border: medium none;
  border-spacing: 0;
  font-weight: normal;
  font-family: "Roboto";
  line-height: 1.42rem;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
}

textarea:focus,
input:focus,
button:focus {
  outline: none;
}