@import "variables";
@import "sidebarFeatures";
@import "sidebarTests";
@import "normalize";
@import "tests";
@import "projectGenerator";
@import "optionsBox";
@import "editBox";
@import "projectInfo";
@import "testName";
@import "testButtons";

*:focus {
  outline: none;
}

::-webkit-scrollbar {
  height: 12px;
  width: 12px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: $collectorsBg;
  border-radius: 4px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

.suite-generator {
  overflow: hidden !important;
  scroll-behavior: smooth;
  background-color: $testContainerBg;
  display: grid;
  grid-template-columns: 350px 1fr 300px;
  user-select: none;
}