.filterInfo{
  padding: 15px;
  border-bottom: 1px solid #dbdbdb;
  max-width: 500px;

  &-column {
    text-align: center;
  }

  &-popover {
    .popover-content {
      padding: 0;
    }
  }

  &-title {
    display: inline-block;
    font-weight: 700;
    padding: 0 0 5px;
  }

  &-parameter {
    vertical-align: top;
  }

  &-key {
    min-width: 90px;
    padding: 0 8px 2px 0;
    text-transform: capitalize;
  }

  &-value {
    color: $gray_darker;
  }
}