.options-box {
  position: absolute;
  width: 200px;
  height: 40px;
  background-color: $black;
  color: $gray;
  font-size: 22px;
  border-radius: 8px;
  z-index: 999;
  opacity: 1;
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;

  &:hover {
    opacity: 1;
  }

  .option {
    display: block;
    flex: 1;
    transition: all 0.3s ease-in-out;

    &:hover {
      cursor: pointer;
      color: $white;
    }
    
    &>svg {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.options-box::after {
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  display: block;
  width: 14px;
  height: 14px;
  background-color: inherit;
  transform: translate(-50%, -50%) rotate(45deg);
  z-index: -1;
}