.project-info-container {
  position: relative;
  background-color: lighten($gray, 10%);
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  box-shadow: 0px 3px 5px 0px $shadow;

  .project-info-block {
    text-align: center;
    color: white;
    padding: 15px 0 45px 0;
    justify-items: center;
    align-items: center;
    position: relative;

    .new-proj-btn {
      background-color: $white;
      color: $black;
      width: 150px;
      padding: 3px 5px;
      text-align: center;
      margin-top: 3px;
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      transition: all 0.3s ease-in-out;
      font-weight: bold;

      &:hover {
        cursor: pointer;
        background-color: darken($white, 20%)
      }
    }

    &:nth-child(n+1) {
      border-right: 1px solid $gray_light;
    }

    &:last-child {
      border-right: 0px;
    }

    h4 {
      margin-top: 7px;
      text-align: center;
      font-weight: bold;
      width: 90%;
      margin: 0 auto;
      word-wrap: break-word;
      
      a {
        color: inherit;
        &:hover {
          cursor: pointer;
          color: darken($white, 20%);
        }
      }
    }
  }
}