.test-container {
  background-color: $gray;
  position: relative;
  width: 100%;
  height: 90vh;

  .tests-wrapper {
    position: relative;
    height: 85.2%;
    overflow-y: scroll;
    overflow-x: hidden;

    .tests {
      position: relative;
      margin-left: 25%;
      margin-top: 40px;
      padding: 25px 0;

      .collectors-list,
      .modifiers-list,
      .comparators-list,
      .urls-list {
        overflow: hidden;
      }

      .test-name {
        color: $white;
        font-size: 18px;
        font-weight: bold;
        width: 300px;
        margin-left: 12px;
        text-align: center;
        display: block;
      }

      .list-expanded {
        height: 100%;
      }

      .list-hidden {
        height: 0;
      }

      .arrow-expanded {
        transform: rotate(0deg);
        position: absolute;
        right: 15px;
      }

      .arrow-hidden {
        transform: rotate(90deg);
        position: absolute;
        right: 15px;
      }

      .block {
        width: 300px;
        background-color: $gray_light;
        margin: 10px;
        text-align: center;
        box-sizing: border-box;
        transition: all 0.3s ease-in-out;
        user-select: none;

        .arrow-block {
          position: absolute;
          top:7px;
          right: 15px;
        }

        .block-type {
          width:100%;
          text-align: center;
          background-color:rgba(0,0,0,0.15);
          padding:7px 0;

          span {
            font-size:16px;
          }
        }

        .block-parameters-container {
          
          .block-parameter {
            text-align: center;
            padding: 7px 0;
            font-size: 15px;     
            word-wrap: break-word;   
            width:100%;
            margin: 0px auto;  
            border-bottom:1px solid rgba(0,0,0,0.3);

            &:last-child {
              border-bottom:0px solid; 
            }

            &-mandatory-missing {
              font-weight: bold;
              background-color: rgba(255,0,0,0.9);
              //color: $blockError;
            }

            &-bold {
              font-weight: bold;
            }

            &-wrapper {
              width:90%;
              margin: 0 auto;
              text-align: center;
            }
          }
        }
      }

      .block-hidden {
        opacity: 0.2;
      }

      .static {
        font-size: 1.3rem;
        font-weight: bold;
        font-style: italic;
        background-color: $blockDefault;
        padding:7px 0;

        div {
          text-align: center;
        }
      }

      .start {
        position: relative;
        &:hover {
          cursor: pointer;
          background-color: darken($blockDefault, 20%);
        }
      }

      .droppable {
        background-color: $blockDroppable;
      }

      .custom {
        position: relative;
        margin: 7px 0;

        &:hover {
          cursor: pointer;
        }
      }

      .add-url {
        background-color: $blockURL;
        font-size: 16px;
        font-weight: bold;
        padding:7px 0;

        &:hover {
          cursor: pointer;
          background-color: darken($blockURL, 10%);
        }
      }

      .added-url {
        background-color: lighten($blockURL, 6%);
        padding:7px 0;
        position: relative;

        span {
          width: 90%;
          text-align: center;
          margin: 0 auto;
          display: block;
          word-wrap: break-word;
        }

        &:hover {
          cursor: pointer;
          background-color: $blockDelete;
        }
      }

      .add-url-input-container {
        height: 36px;
        background-color: $blockURL;

        .add-url-input {
          float: left;
          height: 25px;
          font-size: 16px;
          padding: 0 15px;
          margin-top: 7px;
        }

        .add-url-button {
          float: right;
          padding: 0 10px;
          margin-right: 15px;
          margin-top: 7px;
          background-color: $white;
          color: $text_color;
          font-size: 28px;
          font-weight: bold;
          transition: all 0.5s ease-in-out;

          &:hover {
            cursor: pointer;
            background-color: darken($white, 10%);
          }
        }
      }

      .empty {
        color: transparent;
        background-color: transparent;
        border: 1px solid transparent;
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        height: 0px;
      }

      .nested {
        margin-left: 100px;
      }

      .nested-twice {
        margin-left: 160px;
      }

      .valid {
        height: 30px;
        border: 1px dashed $borderValid;
      }

      .valid-onhover {
        height: 80px;
      }

      .block-valid {
        background-color: $blockValid;

        &:hover {
          background-color: darken($blockValid, 15%);
        }
      }

      .modifier {
        background-color: $blockModifier;

        &:hover {
          background-color: darken($blockModifier, 15%);
        }
      }

      .block-error {
        background-color: $blockError;

        &::after {
          content: "Error: Collector for this type of comparator was not found!";
          width: 100%;
          top: 0;
          left: 109%;
          margin-top: -8px;
          padding: 1% 3%;
          font-size: 12px;
          position: absolute;
          background-color: $black;
          color: $white;
          display: none;
          transition: all 0.3s ease-in-out;
        }

        &::before {
          content: " ";
          width: 15px;
          height: 15px;
          background-color: $black;
          position: absolute;
          top: 0;
          left: 107%;
          margin-top: 11px;
          transform: rotate(45deg);
          display: none;
          transition: all 0.3s ease-in-out;
        }

        &:hover {
          background-color: darken(red, 15%);

          &::after {
            display: block;
          }

          &::before {
            display: block;
          }
        }
      }

      .block-warning {
        background-color: $blockWarning;

        &::after {
          content: "Warning: Comparator for this type of collector was not found!";
          width: 100%;
          top: 0;
          left: 109%;
          margin-top: -8px;
          padding: 1% 3%;
          font-size: 12px;
          position: absolute;
          background-color: $black;
          color: $white;
          display: none;
          transition: all 0.3s ease-in-out;
        }

        &::before {
          content: " ";
          width: 15px;
          height: 15px;
          background-color: $black;
          position: absolute;
          top: 0;
          left: 107%;
          margin-top: 11px;
          transform: rotate(45deg);
          display: none;
          transition: all 0.3s ease-in-out;
        }

        &:hover {
          background-color: darken($blockWarning, 15%);

          &::after {
            display: block;
          }

          &::before {
            display: block;
          }
        }
      }

      .data-filter-valid {
        background-color: #838fff;
      }

      .filter-droppable {
        background-color: darken($blockValid, 25%);
      }

      .filter-block {
        background-color: $blockFilter;
        
        &:hover {
          background-color: darken($blockFilter, 30%);
          cursor: pointer;
        }
      }
    }
  }
}