// Text
$white: #fff;
$black: #000;
$red_light: #ff4949;
$text_color: #333333;

// Shadows
$shadow: rgba(0,0,0,0.18);

//Blocks
$blockDefault: #d0fffd;
$blockURL: #cec8ff;
$blockDroppable: #a2ffaf;
$blockDelete: #f84848;
$blockValid: #30ecaa;
$blockError: #ff0000;
$blockWarning: #ffbb00;
$blockFilter: #a1ffef;
$blockFilterValid: #50a0cd;
$borderValid: #ff0000;
$blockModifier: #2ad4ff;

//Background
$aside_background: #2c333b;
$gray: #3c4550;
$gray_extralight: #f9f9f9;
$gray_light: #d6d6d6;


// redesign
$featuresBg: #212733;
$featuresBgDark: #1e222b;
$testsBg: #1a1d24;
$testsButtonsBg: #1e222b;
$projectInfoBg: #ffffff;
$testContainerBg: #eff5ff;
$collectorsBg: #477af6;
$comparatorsBg: #f07f3f ;
$modifiersBg: #08A045 ;
$filtersBg: #E83F6F ;
$buttonsBg: #03b187 ;
$textColor: #ffffff;
$textColorSecondary: #8aa3e4;
$textColorDark: #000000;
$newProjectBtnBg: #009688;
$urlsBg: #821de9;
$staticBg: #025a70;