// Text
$white: #fff;
$black: #000;
$red_light: #ff4949;
$text_color: #333333;

// Shadows
$shadow: rgba(0,0,0,0.18);

//Blocks
$blockDefault: #d0fffd;
$blockURL: #cec8ff;
$blockDroppable: #a2ffaf;
$blockDelete: #f84848;
$blockValid: #30ecaa;
$blockError: #ff0000;
$blockWarning: #ffbb00;
$blockFilter: #a1ffef;
$blockFilterValid: #50a0cd;
$borderValid: #ff0000;

//Background
$aside_background: #2c333b;
$gray: #3c4550;
$gray_extralight: #f9f9f9;
$gray_light: #d6d6d6;