@import "variables";
@import "sidebarFeatures";
@import "sidebarTests";
@import "normalize";
@import "tests";
@import "projectGenerator";
@import "optionsBox";
@import "editBox";
@import "projectInfo";
@import "testName";
@import "testButtons";

*:focus {
  outline: none;
}

.suite-generator {
  overflow: hidden !important;
  scroll-behavior: smooth;
  background-color: $testContainerBg;
  display: grid;
  grid-template-columns: 350px 1fr 300px;
  user-select: none;
}